.bg_hero {
    background-image: url('https://comunidad.orange.es/t5/image/serverpage/image-id/18727i392AC05D0E82DA29/image-size/large?v=1.0&px=999');
    background-repeat: no-repeat;
    background-size: 460px;
    background-position-y: 25px;
    background-position-x: 98%;
}

.hero_content {
    width: 72%;
}